<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>




	<!-------------------------- NAV BAR -------------------------->




	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" <%= link_to 'The Gossip Project', index_path %> </a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item ">
			<a class="nav-link"<%= link_to 'Accueil', index_path %>  </a>
			</li>
			<li class="nav-item ">
			<a class="nav-link"<%= link_to 'Team', team_path %>  </a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" <%= link_to 'Contact', contact_path %> </a>
			</li>
		</ul>
	</div>

	</nav>

    <!-------------------------- CONTAINER -------------------------->

    <div class="container text-center">
	    <h1>AJOUTER UN GOSSIP</h1>
	    </br>
	    </br>

<!-- 
		<% if @gossip.errors.any? %>
		  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
		  <ul>
		    <% @gossip.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		  </ul>
		<% end %> -->
		
		
		<%= form_tag gossip_for(action: 'create'), method: "post" do %>

	      <%= label_tag 'Titre' %>
	      <%= text_field_tag 'Titre', @gossip.title %>
	      <br /> <br />

	      <%= label_tag 'Contenu' %>
	      <%= text_area_tag 'body', @gossip.content %>
	      <br /> <br />

	      <!-- <%= label_tag 'Auteur' %>
	      <%= text_field_tag 'author', @gossip.user.first_name %>
	      <br /> <br /> -->

	      <%= submit_tag "Créer mon post" %>

	    <% end %>
		 


	   
	    
	    </br>
	    </br>
	    </br>
	    <a href="/">Retour sur l'accueil des gossips</a>

	</div>





    <!-------------------------- SCRIPT -------------------------->







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>